.centerP{
    text-align: justify;
    font-family: 'Forum', cursive;
    font-size: 18px;

 
}
.h1{
    text-align: center;
    font-family: 'Forum', cursive;
    border-bottom: solid 2px red;
}
.texto{
    font-family: 'Forum', cursive;
    text-align: center;
}
.color{
    
    background-color: black;
}